<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="./style.css">
  <title>Vue/Axios Basic</title>




</head>

<body id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#cover">Home</a>

        </div>
        <a class="nav-link" href="#">portofolio</a>
        <a class="nav-link" href="#">about</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">contact</a>
      </div>
    </div>
    </div>
  </nav>

  <!--Header-->
  <div class="cover" style="background-image: url(images/bge.jpg);">
    <div class="masking"></div>
    <small class="credit"><a href="https://pixabay.com/id/photos/lanskap-alam-matahari-terbenam-2979296/">Background photo by Pixabay</a></small>
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-6 text-white">
          <img src="images/dep.png">
        </div>
        <div class="col-6 text-center">
          <h1>{{content.nama}}</h1>
          <p>{{content.deskripsi}}</p>
          <div class="social">
            <a href="https://instagram.com/detroyfx"><i class="bi-instagram"></i> detroyexna</a>
            <a href="https://www.tiktok.com/@menyonnn__?lang=id-ID"><i class="bi-tiktok"></i> detroyexna</a>
            <a href="https://www.youtube.com/channel/UCnvQ-f17cZduon6idsEaDOg"><i class="bi-youtube"></i> devi
              triana</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--end header-->

  <!--Articles-->
  <div class="">
    <div class="container">
      <h2 class="m-4 p-4 text-center">Keahlian</h2>
      <div class="row">
        <!--Yang disukai -->
        <div class="container-fluid mt-3">
          <div class="row">
            <div class="col-md-4" v-for="item in article">
              <div class="card">
                <img class="card-img-top" v-bind:src="item.image" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{item.heading}}</h5>
                  <p class="card-text">{{item.deskripsi}}</p>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
    <section class="skillBar">
      <h2 class="m-4 p-4 text-center"></h2>
        <div class="container">
          <div class="row">
            <div class="col-md-4" v-for="item in skill">
              <div class="card" width="18rem">
                <img class="card-img-top" v-bind:src="item.image" alt="Card image cap">
                <div class="card-body text-center">
                  <h5 class="card-title">{{item.nama}}</h5>
                  <p class="card-text">{{item.level}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>



    <!--end articles-->

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>